h1{
    text-align: center;
    font-size: 60px;
}
h2{
    font-size: 30px;
}
p{
    font-size: 20px;
}

hr.dotted-line{
    border: none;
    border-top: 3px dotted black;
    width: 100%;
}

body{
    font-family: 'Delius Swash Caps', cursive;
}

.splash-container {
  display: flex;
  gap: 100px; 
  justify-content: center; 
  flex-wrap: wrap; 
}

.splash-box {
  flex: 1 1 300px;
  background-color: rgba(255, 255, 255, 0.1); 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
  text-align: center;
  max-width: 400px;
  color: black;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); 
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.3s ease;
}

.splash-box:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.splash-box-link {
  text-decoration: none;
  color: inherit; 
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer img{
  width: 30px;
  height: auto;
  padding-left: 10px;
  text-align: left;
}

footer p{
  text-align: right;
  padding-right: 10px;
}
