/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

/* Navigation */
nav {
    background-color: #444;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Container */
.container {
    padding: 20px;
}

/* Section */
.section {
    margin-bottom: 40px;
}

.section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

/* Card for Projects */
.card {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-top: 0;
    font-size: 1.5em;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Video */
video {
    padding: 10px;
}

/* List */
li {
    padding: 5px;
    margin-left: 30px;
}

/* Link Box */

.link-box {
    display: inline-block; /* Make the box adjust to text width */
    background-color: #212b3b; /* Green background */
    color: white; /* Text color */
    padding: 10px 20px; /* Add padding for some space around the text */
    font-size: 15px; /* Text size */
    text-align: center;
    border-radius: 8px;
    text-decoration: none; /* Remove underline from link */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Hover effect for the box */
.link-box:hover {
    transform: translateY(-5px); /* Make the box slightly move upwards */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Add more shadow on hover */
}